/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.4.1/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
body {
  font-family: "Open Sans";
}

/* line 12, ../sass/screen.scss */
.background {
  position: absolute;
  background-color: #38393a;
  width: 100%;
  height: 100%;
}

/* line 19, ../sass/screen.scss */
.modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 500px;
  z-index: 1;
  background-color: #feffff;
  padding: 50px 40px 30px 40px;
}
/* line 32, ../sass/screen.scss */
.modal .title {
  text-align: center;
}
/* line 34, ../sass/screen.scss */
.modal .title h2 {
  font-size: 28px;
  margin-bottom: 16px;
}
/* line 38, ../sass/screen.scss */
.modal .title p {
  color: #A0A0A1;
}
/* line 44, ../sass/screen.scss */
.modal .search-group .search-box {
  border-bottom: solid 1px #f3f4f5;
  display: inline-block;
  width: 450px;
}
/* line 50, ../sass/screen.scss */
.modal .search-group img {
  height: 30px;
}
/* line 55, ../sass/screen.scss */
.modal .person {
  overflow: hidden;
}
/* line 58, ../sass/screen.scss */
.modal .person img {
  height: 80px;
  float: left;
}
/* line 62, ../sass/screen.scss */
.modal .person .introduction {
  text-align: left;
  display: inline-block;
  padding-top: 10px;
  padding-left: 24px;
}
/* line 68, ../sass/screen.scss */
.modal .person .introduction p {
  line-height: 20px;
}
/* line 71, ../sass/screen.scss */
.modal .person .introduction .name {
  color: #83B64E;
  font-weight: 600;
  font-size: 18px;
}
/* line 76, ../sass/screen.scss */
.modal .person .introduction .skill {
  color: #CDCECF;
  font-size: 14px;
}
/* line 81, ../sass/screen.scss */
.modal .person .introduction .contact p {
  display: inline;
}
/* line 84, ../sass/screen.scss */
.modal .person .introduction .contact .location {
  color: #A7A8A9;
  padding-right: 16px;
}
/* line 88, ../sass/screen.scss */
.modal .person .introduction .contact .web {
  color: #383839;
}
/* line 94, ../sass/screen.scss */
.modal .person .checkbox_wrapper {
  float: right;
  margin-top: 30px;
  position: relative;
}
/* line 100, ../sass/screen.scss */
.modal .person input[type="checkbox"] {
  opacity: 0;
  height: 24px;
  width: 24px;
}
/* line 106, ../sass/screen.scss */
.modal .person input[type="checkbox"] + label {
  background: url("../img/Dribbble-Icon-small.png") no-repeat;
  height: 24px;
  width: 24px;
  display: inline-block;
  padding: 0 0 0 0px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
/* line 119, ../sass/screen.scss */
.modal input[type=text] {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #E7E8E8;
  margin: 30px 0;
  padding: 16px;
  font-size: 14px;
  color: #A0A0A1;
}
/* line 130, ../sass/screen.scss */
.modal ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #A0A0A1;
}
/* line 134, ../sass/screen.scss */
.modal input[type=button] {
  width: 100%;
  background-color: #E6508A;
  border: none;
  height: 50px;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 20px;
}
